---
title: Прямоугольные
---
extends layouts/_layout
block content
  +breadcrumbs(['Главная', 'Виниловые магниты', 'Прямоугольные'])
  .catalog-card
    .container
      .row
        .col-xs-9
          .catalog-card__block
            .heading
              h2 Прямоугольные магниты
            .catalog-card__size
              p Выберите размер магнитов:
              span 5 x 9 см
                i.icon.icon-down-arrow-1
                ul.catalog-card__size__list
                  li
                    a(href="#") 5 x 10 см
                  li
                    a(href="#") 5 x 15 см
        .col-xs-9
          .catalog-card__block
            .catalog-card__img
              img(src="img/catalog-card-img.png", alt="")
            .catalog-card__table
              h4 Прямоугольные виниловые магниты
              table
                tr
                  th Тираж
                  th За шт.
                  th Цена
                tr
                  td 50 шт.
                  td 20 р.
                  td 1000 р.
                tr
                  td 50 шт.
                  td 20 р.
                  td 1000 р.
                tr
                  td 50 шт.
                  td 20 р.
                  td 1000 р.
                tr
                  td 50 шт.
                  td 20 р.
                  td 1000 р.
                tr
                  td 50 шт.
                  td 20 р.
                  td 1000 р.
                tr
                  td 50 шт.
                  td 20 р.
                  td 1000 р.
          .catalog-card__info
            .block__img.block__img-secondary
              .block__img__content
                img(src="img/home/hit-1.png", alt="")
            .heading
              h2 Прямоугольные виниловые магниты на холодильник 
            p Прямоугольные магниты можно назвать одними из наиболее востребованных вариантов, так как они отличаются относительной дешевизной производства. Они очень часто используются в качестве рекламных магнитов. Зачастую это различные промо-акции или часть маркетинговой стратегии, когда прямоугольный виниловый магнит на холодильник применяется в качестве бонуса при покупке товара. Обычно такие изделия имеют минимальную толщину и гибкую структуру, что делает их очень практичными. 
            p Прямоугольная форма является одним из самых простых вариантов изготовления магнитов. Также достаточно часто используются круглые, овальные и другие шаблоны. Традиционная толщина таких изделий составляет около 0,4 миллиметров.
            p Купить прямоугольные магниты от «Фабрики магнитов» Обратившись к нам, вы можете рассчитывать на оперативное и качественное выполнение заказов любого объема. Это могут быть как сувенирные, так и рекламные магниты. Низкая цена на прямоугольные магниты и практичная форма позволяет использовать их для любых целей. Дизайн магнитов может быть сделан по вашему макету или вы можете заказать у нас оригинальный вариант. Сейчас есть масса макетов и эскизов, которые могут быть использованы в качестве изображения на магните. 
            p В производстве мы используем только высококачественные материалы от проверенных поставщиков, поэтому мы можем гарантировать абсолютное качество конечного продукта. 
            p Если у вас есть какие-либо сомнения, вы можете связаться с нашими менеджерами, которые всегда готовы ответить на любые ваши вопросы, связанные с магнитиками на холодильник. Мы осуществляем продажу прямоугольных магнитов оптом как небольшими партиями, так и многотысячным тиражом.
        .col-xs-3
          aside.filters
            h3 Категории
            h4
              a(href="#") Виниловые магниты
                i.icon.icon-down-arrow-1
              ul
                li
                  a(href="#") Прямоугольные магниты
                li
                  a(href="#") Квадратные магниты
                li
                  a(href="#") Круглые магниты
                li
                  a(href="#") Плоские магниты стандартной формы
                li
                  a(href="#") Фигурные магниты
                li
                  a(href="#") Магнитные календари
                li
                  a(href="#") Магнитные блокноты
                li
                  a(href="#") Магнит с термометром
                li
                  a(href="#") Магнитные фоторамки
                li
                  a(href="#") Магниты с логотипом
                li
                  a(href="#") Магниты с видами городов
            h4
              a(href="#") Виниловые магниты
                i.icon.icon-down-arrow-1
              ul
                li
                  a(href="#") Прямоугольные магниты
                li
                  a(href="#") Квадратные магниты
                li
                  a(href="#") Круглые магниты
                li
                  a(href="#") Плоские магниты стандартной формы
                li
                  a(href="#") Фигурные магниты
                li
                  a(href="#") Магнитные календари
                li
                  a(href="#") Магнитные блокноты
                li
                  a(href="#") Магнит с термометром
                li
                  a(href="#") Магнитные фоторамки
                li
                  a(href="#") Магниты с логотипом
                li
                  a(href="#") Магниты с видами городов
            h4
              a(href="#") Виниловые магниты
                i.icon.icon-down-arrow-1
              ul
                li
                  a(href="#") Прямоугольные магниты
                li
                  a(href="#") Квадратные магниты
                li
                  a(href="#") Круглые магниты
                li
                  a(href="#") Плоские магниты стандартной формы
                li
                  a(href="#") Фигурные магниты
                li
                  a(href="#") Магнитные календари
                li
                  a(href="#") Магнитные блокноты
                li
                  a(href="#") Магнит с термометром
                li
                  a(href="#") Магнитные фоторамки
                li
                  a(href="#") Магниты с логотипом
                li
                  a(href="#") Магниты с видами городов
            h3 Полезные статьи
            h3 Следите за нами в
            ul
              li
                a(href="#")
                  i.icon.icon-
              li
                a(href="#")
                  i.icon.icon-
              li
                a(href="#")
                  i.icon.icon-
              li
                a(href="#")
                  i.icon.icon-
              li
                a(href="#")
                  i.icon.icon-
              li
                a(href="#")
                  i.icon.icon-
    .home-hit__swiper
      h3 Примеры наших работ
      .swiper-container.swiper-hit
        .swiper-wrapper
          .swiper-slide
            img(src="img/home/hit-1.png", alt="")
          .swiper-slide
            img(src="img/home/hit-1.png", alt="")
          .swiper-slide
            img(src="img/home/hit-1.png", alt="")
        .swiper-button-next.swiper-hit-next
          i.icon.icon-right-arrow
        .swiper-button-prev.swiper-hit-prev
          i.icon.icon-left-arrow
  include ./shares/calculation