//BEGIN header
header.header
  .header__toolbar
    .container
      .row.middle-xs
        .col-md-2.col-sm-5.center-sm.start-md
          a.header__mail(href="mailto:info@fabrikamagnitov.ru") 
            i.icon.icon-contact
            | info@fabrikamagnitov.ru
        .col-md-7.flex.middle-xs.col-sm-7
          a.header__phone(href="tel:84957830407") 
            i.icon.icon-phone
            | 8 (495) 783-04-07
          a(href="#").header__callback Заказать звонок
        .col-md-3
          .header__social
            ul
              li
                a(href="#") 
                  i.icon.icon-vk
                a(href="#") 
                  i.icon.icon-youtube
                a(href="#") 
                  i.icon.icon-plus
                a(href="#") 
                  i.icon.icon-facebook
                a(href="#") 
                  i.icon.icon-twitter
                a(href="#") 
                  i.icon.icon-od
  .header__primary
    .container
      .row.middle-xs
        .col-md-3.col-sm-4.col-xs-6
          a(href="index.html").logo
            img(src="img/logo.png", alt="")
        .col-md-9.col-sm-8.col-xs-6
          .header__primary__block
            nav
              ul
                li.active
                  a(href="#") Онлайн заявка
                li
                  a(href="#") Заказать просчёт
                li
                  a(href="#") Технические требования
                li
                  a(href="#") Задать вопрос
              ul.mobile
                li
                  a(href="#") Онлайн заявка
                li
                  a(href="#") Заказать просчёт
              ul.mobile
                li 
                  a(href="#") Технические требования
                li
                  a(href="#") Задать вопрос
            .header__tools
              a(href="#").header__tools__search
                i.icon.icon-search
              .header__tools__burger
                span

//END header