//BEGIN header
header.header
  .header__toolbar
    .container
      .row
        .col-md-2
          .header__toolbar__mail
            i.icon.icon-contact
            a(href="mailto:info@fabrikamagnitov.ru") info@fabrikamagnitov.ru
        .col-md-7
          .header__toolbar__call
            i.icon.icon-phonecall
            a(href="tel:84957830407") 8 (495) 783-04-07
            .header__toolbar__call__button
              a(href="#") Заказать звонок
        .col-md-2
          .header__tolbar__social
            ul
              ui
                a(href="#") 
                  i.icon-vk-social-network-logo
  .header__primary
    .container
      .row
        .col-md-12
//END header
