.calculator#calculator
  a(href="#" rel="modal:close")
    span
  h2 Онлайн заявка
  h4 Модуль примерного расчета
  form(action="").form
    .form__range
      .form__range__block
        input(type="range" min="1" max="16" value="5")
      .form__range__result
        .row
          .col-xs-4
            p Цена за 1 магнит
            span 5.5 ₽
          .col-xs-4
            p Цена за весь тираж
            span 13 750 ₽
          .col-xs-4
            p Общий тираж
            span 2 500 шт.
          .col-xs-12
            b Данный модуль служит для предварительного расчёта. Для того, чтобы рассчитать точную стоимость изготовления магнитов - заполните Онлайн заявку.
    h4 Онлайн заявка
    .row
      .col-xs-3
        .form__block-application
          p Ширина магнита
          input(type="number")
      .col-xs-3
        .form__block-application
          p Высота магнита
          input(type="number")
      .col-xs-3
        .form__block-application
          p Толщина магнитного слоя
          select
            option(value="1") 0.25 мм.
            option(value="1") 0.25 мм.1
            option(value="1") 0.25 мм.2
      .col-xs-3
        .form__block-application
          p Тираж
          input(type="number")
      .col-xs-4
        .form__block-application
          p Форма магнита
          .form__radio
            input(type="radio" id="radio-1" name="radio-1")
            label(for="radio-1") 
              p Стандартная форма
          .form__radio
            input(type="radio" id="radio-2" name="radio-1")
            label(for="radio-2")
              p Индивидуальная форма
      
