section.calculation
  .container
    .row.middle-xs
      .col-xs-5
        .calculation__form
          form(action="")
            input(type="text" placeholder="Ваше Имя")
            input(type="email" placeholder="E-mail")
            input(type="tel" placeholder="+7 (___) ___-__-__")
            a(href="#") Добавить комментарий
            input(type="submit" value="отправить").btn
            .calculation__checkbox
              input(type="checkbox" id="checkbox")
              label(for="checkbox") Я согласен с политикой конфиденциальности
      .col-xs-6
        .calculation__block
          .heading
            h2 Заказать расчёт
          p Заполните заявку и получите 10% скидку на первый заказ. Наши кольсунтанты свяжутся с Вами в ближайшее время!
      .col-md-1