@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('eot'),
    url('../fonts/iconfont.woff2') format('woff2'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$icon-contact: "\EA01";
$icon-down-arrow: "\EA02";
$icon-facebook: "\EA03";
$icon-left-arrow: "\EA04";
$icon-od: "\EA05";
$icon-phone: "\EA06";
$icon-plus: "\EA07";
$icon-right-arrow: "\EA08";
$icon-search: "\EA09";
$icon-twitter: "\EA0A";
$icon-vk: "\EA0B";
$icon-youtube: "\EA0C";


%icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  @extend %icon;
  display: inline-block;
}

.icon-contact:before { content: $icon-contact; }
.icon-down-arrow:before { content: $icon-down-arrow; }
.icon-facebook:before { content: $icon-facebook; }
.icon-left-arrow:before { content: $icon-left-arrow; }
.icon-od:before { content: $icon-od; }
.icon-phone:before { content: $icon-phone; }
.icon-plus:before { content: $icon-plus; }
.icon-right-arrow:before { content: $icon-right-arrow; }
.icon-search:before { content: $icon-search; }
.icon-twitter:before { content: $icon-twitter; }
.icon-vk:before { content: $icon-vk; }
.icon-youtube:before { content: $icon-youtube; }
