.icon-contact {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-phonecall {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-vk-social-network-logo {
  width: 1em;
  height: 1em;
  fill: initial;
}
