section.home-kinds
  .container
    .row
      .col-xs-12
        .heading
          h2 Виды магнитов на холодильник
      .col-xs-3
        a(href="#").home-kinds__block
          img(src="img/home/kinds-1.png", alt="")
          p Магнит виниловый
      .col-xs-3
        a(href="#").home-kinds__block
          img(src="img/home/kinds-2.png", alt="")
          p
            span Магнитные визитки<br>
            | от 
            span 2,94
            | руб./шт.
      .col-xs-3
        a(href="#").home-kinds__block
          img(src="img/home/kinds-3.png", alt="")
          p Магнитные фоторамки
      .col-xs-3
        a(href="#").home-kinds__block
          img(src="img/home/kinds-4.png", alt="")
          p Блокнот на магните
      .col-xs-3
        a(href="#").home-kinds__block
          img(src="img/home/kinds-5.png", alt="")
          p Магнитные закладки
      .col-xs-3
        a(href="#").home-kinds__block
          img(src="img/home/kinds-6.png", alt="")
          p Магнитные календари
      .col-xs-3
        a(href="#").home-kinds__block
          img(src="img/home/kinds-7.png", alt="")
          p Магнит с термометром
      .col-xs-3
        a(href="#").home-kinds__block
          img(src="img/home/kinds.png", alt="")
          p Магнитные пазлы
      .col-xs-12.center-xs
        a(href="#").btn.btn-primary Заказать просчёт