section.home-composition
  .container
    .row
      .col-xs-12
        .heading
          h2 Из чего состоят наши магниты?
        .home-composition__content
          .home-composition__block.home-composition__block-1
            h4 Защитный слой
            p Можно рисовать фломастером, мыть и вырезать
          .home-composition__block.home-composition__block-2
            h4 Изображение
            p Только сочные цвета
          .home-composition__block.home-composition__block-3
            h4 Прочная основа
            p Работа на японском оборудовании
          img(src="img/home/composition.png", alt="")
