section.home-sentence
  .container
    .row.hidden-sm.hidden-xs
      .col-xs-12
        .heading
          h2 Что мы предлагаем? 
    .home-sentence__content
      .row
        .col-xs-12.hidden-md
          .heading
            h2 Что мы предлагаем? 
        .col-md-8.col-sm-6.col-xs-12
          .swiper-container.swiper-sentence
            .swiper-wrapper
              .swiper-slide
                p Наша компания более 7 лет занимается изготовлением магнитов на холодильник. Современное оборудование и накопленный опыт наших сотрудников позволяет предоставлять отличные условия сотрудничества. 
                p Если вас интересует магнит на холодильник на заказ, вам стоит обратить внимание на услуги нашей фабрики. Мы можем предложить вам широкий ассортимент магнитных изделий!
              .swiper-slide
                p Наша компания более 7 лет занимается изготовлением магнитов на холодильник. Современное оборудование и накопленный опыт наших сотрудников позволяет предоставлять отличные условия сотрудничества. 
                p Если вас интересует магнит на холодильник на заказ, вам стоит обратить внимание на услуги нашей фабрики. Мы можем предложить вам широкий ассортимент магнитных изделий!
            .swiper-pagination.swiper-pagination-sentence
          .swiper-button-next.swiper-sentence-next
            i.icon.icon-right-arrow
          .swiper-button-prev.swiper-sentence-prev
            i.icon.icon-left-arrow
        .col-md-4.col-sm-6.col-xs-12
          .home-sentence__info
            .home-sentence__info__block
              img(src="img/home/sentence-1.png", alt="")
            h3 Виниловые магниты
            p Виниловые магниты имеют весомую долю рынка рекламно-сувенирной продукции. Это связано с тем, что они относительно недороги в ...
            a(href="#") УЗНАТЬ БОЛЬШЕ