section.intro
  .swiper-container.swiper-intro(style="background-image: url('img/home/intro-bg.png')")
    .swiper-wrapper
      .swiper-slide(style="background-image: url('img/home/slide-img-1.png')")
        .container
          .row.middle-sm
            .col-xs-12.start-sm.center-xs
              h4 На любой вкус
              h2 Магниты 
              h3 высокого качества
              p У нас Вы сможете заказать магниты любых форм и размеров, с уникальным дизайном, разработанным в соответствии с вашими пожеланиями. Мы используем индивидуальный подход к каждому клиенту!
              a(href="#calculator" rel="modal:open").btn.btn-primary Заказать просчёт
      .swiper-slide(style="background-image: url('img/home/slide-img-2.png')")
        .container
          .row.middle-sm
            .col-xs-12.start-sm.center-xs
              h4 В кратчайшие сроки
              h2.title-scondary БОЛЬШОЙ ТИРАЖ  
              p Мы производим магниты на холодильник партиями как в небольших количествах, так и многотысячным тиражом. Наша производственная база и профессионализм специалистов позволяет выполнять даже самые крупные заказы за минимальное время.
              a(href="#").btn.btn-primary Заказать звонок
      .swiper-slide(style="background-image: url('img/home/slide-img-3.png')")
        .container
          .row.middle-sm
            .col-xs-12.start-sm.center-xs
              h4 На все магниты
              h2.title-scondary Демократичные <br>Цены 
              p Наши цены Вас приятно удивят, а система скидок не оставит вам и мысли на промедление!
              a(href="#").btn.btn-primary Заказать звонок
      .swiper-slide(style="background-image: url('img/home/slide-img-4.png')")
        .container
          .row.middle-sm
            .col-xs-12.start-sm.center-xs
              h3.title-scondary КОЛОССАЛЬНЫЙ ОПЫТ 
              b В ИЗГОТОВЛЕНИИ МАГНИТОВ 
              p Мы обладаем огромным опытом предоставления полиграфических услуг - более 7 лет! Наш штат представляют 30 сотрудников с опытом более 8 лет в данной сфере.
              a(href="#").btn.btn-primary Заказать звонок
      .swiper-slide(style="background-image: url('img/home/slide-img-5.png')")
        .container
          .row.middle-sm
            .col-xs-12.start-sm.center-xs
              h3.title-scondary КОЛОССАЛЬНЫЙ ОПЫТ 
              b В ИЗГОТОВЛЕНИИ МАГНИТОВ 
              p Мы обладаем огромным опытом предоставления полиграфических услуг - более 7 лет! Наш штат представляют 30 сотрудников с опытом более 8 лет в данной сфере.
              a(href="#").btn.btn-primary Заказать звонок
    .swiper-pagination.swiper-pagination-intro