.container
  max-width: 1170px
  width: 100% !important
  margin: 0 auto
  height: 100%
.row
  height: 100%
p
  font-size: 22px
  color: $white
body
  font-family: 'Ubuntu', sans-serif;
a
  text-decoration: none
.flex
  display: flex